In [19]:
import pandas as pd
#pd.set_option('display.max_rows', None)
df =pd.read_csv('../../../ProcessedData/LCK_2023_SUMMER_WinLose.csv',index_col = 0)
df.isna().sum()
df.drop('CS in Enemy Jungle', axis = 1, inplace = True)
df.rename(columns = {"CS in Team's Jungle" : 'CS in Jungle'}, inplace=True)
df['Solo kills'].fillna(0, inplace=True)

In [20]:
nan_df = (df.isna().sum() > 0)
nan_df_info = nan_df[nan_df == True]

In [21]:
nan_df_info

CS in Jungle               True
Vision Score               True
Wards placed               True
Wards destroyed            True
Control Wards Purchased    True
VSPM                       True
VS%                        True
Double kills               True
Triple kills               True
Quadra kills               True
Penta kills                True
GD@15                      True
CSD@15                     True
XPD@15                     True
LVLD@15                    True
Damage dealt to turrets    True
Total heal                 True
Damage self mitigated      True
Time ccing others          True
Total damage taken         True
dtype: bool

In [17]:
df.loc[df.isna().sum(axis = 1) > 0, :]

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Jungle,...,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost,Version,Date,Team,Result
120,Clear,K'Sante,TOP,3,4,1,12,16,369,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,LSB,Win
121,Willer,Nocturne,JUNGLE,3,6,3,11,5.7,259,NaN,...,NaN,0,1,2,0,0,13.14,8/4/2023,LSB,Win
122,Clozer,Ahri,MID,4,8,3,10,6,367,NaN,...,NaN,0,2,4,0,0,13.14,8/4/2023,LSB,Win
123,Teddy,Kai'Sa,ADC,3,8,3,15,7.7,469,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,LSB,Win
124,Kael,Rell,SUPPORT,3,1,2,21,11,35,NaN,...,NaN,0,2,4,0,0,13.14,8/4/2023,LSB,Win
125,Zeus,Gnar,TOP,3,3,2,8,5.5,436,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,T1,Lose
126,Oner,Sejuani,JUNGLE,4,1,6,6,1.2,186,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,T1,Lose
127,Faker,Tristana,MID,4,1,8,6,0.9,356,NaN,...,NaN,0,1,2,0,0,13.14,8/4/2023,T1,Lose
128,Gumayusi,Zeri,ADC,2,7,5,4,2.2,463,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,T1,Lose
129,Keria,Xayah,SUPPORT,2,0,6,11,1.8,46,NaN,...,NaN,0,2,6,0,0,13.14,8/4/2023,T1,Lose

In [22]:
df[nan_df_info.index].isnull().sum()

CS in Jungle               10
Vision Score               10
Wards placed               10
Wards destroyed            10
Control Wards Purchased    10
VSPM                       10
VS%                        10
Double kills               10
Triple kills               10
Quadra kills               10
Penta kills                10
GD@15                      10
CSD@15                     10
XPD@15                     10
LVLD@15                    10
Damage dealt to turrets    10
Total heal                 10
Damage self mitigated      10
Time ccing others          10
Total damage taken         10
dtype: int64

In [10]:
df.dtypes[df.dtypes == object]

Player      object
Champion    object
Role        object
KDA         object
GOLD%       object
VS%         object
DMG%        object
KP%         object
Date        object
Team        object
Result      object
dtype: object

In [23]:
percentage_columns = ['GOLD%', 'VS%', 'DMG%', 'KP%']

for column in percentage_columns:
    df[column] = df[column].str.replace('%', '').astype(float) / 100

In [32]:
rows_to_fill = range(120, 130)

df.drop(index = rows_to_fill)

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Jungle,...,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost,Version,Date,Team,Result
0,Kiin,Gangplank,TOP,16,2,1,8,10,252,4.0,...,13570.0,42,7,22,0,100,13.14,8/6/2023,KT,Win
1,Cuzz,Viego,JUNGLE,15,8,2,10,9,182,156.0,...,23779.0,66,5,24,0,150,13.14,8/6/2023,KT,Win
2,Bdd,Ahri,MID,15,7,3,10,5.7,219,0.0,...,16177.0,114,7,23,100,500,13.14,8/6/2023,KT,Win
3,Aiming,Tristana,ADC,15,0,2,13,6.5,264,12.0,...,9404.0,33,6,23,0,0,13.14,8/6/2023,KT,Win
4,Lehends,Alistar,SUPPORT,12,2,3,11,4.3,30,0.0,...,11572.0,49,16,27,0,0,13.14,8/6/2023,KT,Win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2055,kingen,K'Sante,TOP,15,1,1,1,2,250,3.0,...,13981.0,49,9,28,0,0,13.10,6/7/2023,HLE,Lose
2056,Clid,Viego,JUNGLE,13,1,2,1,1,164,154.0,...,22960.0,36,11,25,0,0,13.10,6/7/2023,HLE,Lose
2057,Zeka,Gragas,MID,14,0,3,1,0.3,226,4.0,...,19369.0,79,8,27,0,0,13.10,6/7/2023,HLE,Lose
2058,Viper,Jinx,ADC,13,0,1,1,1,265,16.0,...,10485.0,43,5,23,0,50,13.10,6/7/2023,HLE,Lose
2059,Life,Milio,SUPPORT,9,0,3,1,0.3,12,0.0,...,7027.0,73,13,26,0,0,13.10,6/7/2023,HLE,Lose

In [33]:
df.isna().sum()[df.isna().sum() > 0]

Series([], dtype: int64)

In [34]:
df.to_csv('LCK_2023_SUMMER_DROP_NAN.csv', index=False, encoding='utf-8-sig')