In [52]:
import pandas as pd
#pd.set_option('display.max_rows', None)
df =pd.read_csv('../../../ProcessedData/LCK_2023_SUMMER_WinLose.csv',index_col = 0)
df.isna().sum()
df.drop('CS in Enemy Jungle', axis = 1, inplace = True)

In [87]:
nan_df = (df.isna().sum() > 0)
nan_df_info = nan_df[nan_df == True]

df[nan_df_info.index].isnull().sum()

CS in Jungle               10
Vision Score               10
Wards placed               10
Wards destroyed            10
Control Wards Purchased    10
VSPM                       10
VS%                        10
Double kills               10
Triple kills               10
Quadra kills               10
Penta kills                10
GD@15                      10
CSD@15                     10
XPD@15                     10
LVLD@15                    10
Damage dealt to turrets    10
Total heal                 10
Damage self mitigated      10
Time ccing others          10
Total damage taken         10
dtype: int64

In [54]:
df['Solo kills'].fillna(0, inplace=True)

In [80]:
df.rename(columns = {"CS in Team's Jungle" : 'CS in Jungle'}, inplace=True)

In [85]:
df.loc[df.isna().sum(axis = 1) > 0, :]

,Player,Champion,Role,Level,Kills,Deaths,Assists,KDA,CS,CS in Jungle,...,Total damage taken,Total Time Spent Dead,Consumables purchased,Items Purchased,Shutdown bounty collected,Shutdown bounty lost,Version,Date,Team,Result
120,Clear,K'Sante,TOP,3,4,1,12,16,369,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,LSB,Win
121,Willer,Nocturne,JUNGLE,3,6,3,11,5.7,259,NaN,...,NaN,0,1,2,0,0,13.14,8/4/2023,LSB,Win
122,Clozer,Ahri,MID,4,8,3,10,6,367,NaN,...,NaN,0,2,4,0,0,13.14,8/4/2023,LSB,Win
123,Teddy,Kai'Sa,ADC,3,8,3,15,7.7,469,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,LSB,Win
124,Kael,Rell,SUPPORT,3,1,2,21,11,35,NaN,...,NaN,0,2,4,0,0,13.14,8/4/2023,LSB,Win
125,Zeus,Gnar,TOP,3,3,2,8,5.5,436,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,T1,Lose
126,Oner,Sejuani,JUNGLE,4,1,6,6,1.2,186,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,T1,Lose
127,Faker,Tristana,MID,4,1,8,6,0.9,356,NaN,...,NaN,0,1,2,0,0,13.14,8/4/2023,T1,Lose
128,Gumayusi,Zeri,ADC,2,7,5,4,2.2,463,NaN,...,NaN,0,1,3,0,0,13.14,8/4/2023,T1,Lose
129,Keria,Xayah,SUPPORT,2,0,6,11,1.8,46,NaN,...,NaN,0,2,6,0,0,13.14,8/4/2023,T1,Lose

In [88]:
df.

SyntaxError: invalid syntax (2847894051.py, line 1)